.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
tasia.json
a.out
target
.scripts
.direnv/

# Local dev files
tasia-dev
logs/
*.bun-build
